/* GENERAL */
h1,h2,h3 {margin: 0;}

p {margin: 0;}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }

ul, ol   {list-style-type: none; margin: 0; padding-left: 0;}

img {
    display: block;
}

a {
    text-decoration: none;
}
button {
    cursor: pointer;
}

.container {
    width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}


.page {
    max-width: 1158px;
    margin: auto;
}

/* Header section */

.address-header-link {
    font-style: normal;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.menu-item-link:hover,
.menu-item-link:focus {
    color: #404bbf;
}
.address-header-link:hover,
.address-header-link:focus {
    color: #404bbf;
}
.address-list-item {
    display: flex;
}




.logo-web-color-header {
    color: #2E2F42;
}

.main-page {
    min-height: 1000vh;
}

.logo-main {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}


.top-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header-address {
    display: flex;
}
.address-list {
    display: flex;
    gap: 40px;
}


.page-header {
    display: flex;
}

.menu {
    display: flex;
    gap: 40px;
}
.container-header {
    display: flex;
    max-width: 1128px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
}

.address-list-item {
    display: flex;
}

.address-list {
    display: flex;
    column-gap: 40px;   
}

.page-header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
    max-width: 1158px;;
}




.logo-web-color {
    color: #2e2f42;
}

.menu-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
}


/* MAIN Section */
.main-section {
    background-color: #2E2F42;
    padding: 188px 0;
}

.container-main-section {
    padding: 188px 15px;

}


.main-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: #fff;
display: block;
max-width: 496px;
text-align: center;
margin-left: auto;
margin-right: auto;
margin-bottom: 48px;
}

.order-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4D5AE5;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 32px;
}

.order-link:hover,
.order-link:focus {
    background-color: #404BBF
}

/* OUR BENEFITS */

.benefits-section {
    padding: 120px 0;
}
.benefits-list-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    background-color: #FFFFFF;
    display: flex;
    flex-grow: calc((100% - 72px) / 4);
    max-width: 264px;
    flex-wrap: wrap;
}
    
    .benefits-descr {
        font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    /* display: flex; */
    }
    
    .benefits-list {
        display: flex;
        /* justify-content: flex-start; */
        gap: 24px;
    }

.visually-hidden {
    position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.benefits-title-names {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
/* -------------TEAM SECTION */

.team-section {
    background: #F4F4FD;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    padding: 120px 0;
}
.team-list-item {
background: #fff;
width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    }

    .team-name-position {
        padding: 32px 0;    ;
    }
    .team-names-company {
        font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
        margin-bottom: 8px;
    }

    .professions-of-workers {
        text-align: center;
    }
    
    .team-names {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 8px;
            }
    .container-team-section {
        max-width: 1158px;
            padding: 0 15px;
            margin: 0 auto;
            padding-top: 120px;
            padding-bottom: 120px;
            
    }
            
    
    .team-section-title {
        font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    display: inline-block;
    }
    
    .team-list {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        justify-content: center;
        gap: 24px;
        /* width: calc((100% - 72px) / 4); */
    }



/* PAGE PORTFOLIO */

.page-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfol-types { 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
        }
    
        .portfol-title {
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11111;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            text-align: center;
            color: #2e2f42;
            margin-bottom: 72px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    
    .portfolio-list-item {
        max-width: 360px;
        width: calc((100% - 48px) / 3);
    }


    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 48px;
    }

.portfolio-options-descr {
    border: 1px solid #e7e9fc;
    border-top: none;
padding: 32px 16px;
width: 360px;
height: 120px;
}




.page {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}





/* ++++++FOOTER PAGE+++++++ */





    
    .footer-descr {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
        max-width: 264px;
    }

    .page-footer {
        background: #2e2f42;
        padding: 100px 0;
        
    }

    .footer-logo {
        font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
color: #4d5ae5;
text-transform: uppercase;
margin-bottom: 16px;
display: inline-block;

    }

    .logo-web-color {
        color: #f4f4fd;
    }


